.itemDetailContainer {
    margin: 0 auto;
    height: 60vh;
    width: 65vw;
    h1{
        background: white;
        font-weight: 600;
        font-size: 150px;
        text-align: center;
        margin: 15% auto;
        font-style: italic;
        color: black;
    }
}