*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navBar{
    a.nav-link{
        color: black;
        ion-icon {
            font-size: x-large;
        }
        span {
            padding: 0 3px;
            background-color: black;
            color: white;
            font-weight: bold;
            border-radius: 50%;
            position: relative;
            top: -15px;
        }
    }
    
}

