.cartWidget {
    position: relative;
    span {
        position: absolute;
        padding: 2px 7px;
        bottom: 13px;
        right: -10px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        font-size: 0.8rem;
        background-color: grey;
        color: white;
    }
}

@media (max-width: 800px) {
    .cartWidget {
        span {
            right: 275px;
        }
    }
}